SUGUS_URL=https://sugus-uat-uy.randstad.com.uy/login.aspx
SUGUS_USER=acortazzo
SUGUS_PASS=
SUGUS_BROWSER=chrome
SUGUS_HEADLESS=false
SUGUS_WAIT_MS=2000
SUGUS_TIMEOUT_MS=60000
SUGUS_CANDIDATES_MENU_PAUSE_MS=2000
SUGUS_CANDIDATES_AFTER_CLICK_PAUSE_MS=5000
SUGUS_CANDIDATES_PAGE_TIMEOUT_MS=120000
SUGUS_LIQUIDACIONES_MENU_PAUSE_MS=5000
SUGUS_LIQUIDACIONES_MENU_TIMEOUT_MS=120000
SUGUS_LIQUIDACIONES_AFTER_CLICK_PAUSE_MS=5000
SUGUS_LIQUIDACIONES_PAGE_TIMEOUT_MS=120000
SUGUS_FACTURACION_MENU_PAUSE_MS=5000
SUGUS_FACTURACION_MENU_TIMEOUT_MS=120000
SUGUS_FACTURACION_AFTER_CLICK_PAUSE_MS=5000
SUGUS_FACTURACION_PAGE_TIMEOUT_MS=120000
SUGUS_FACTURACION_TIPO=A
SUGUS_FACTURACION_FECHA_DESDE=01/01/2000
SUGUS_FACTURACION_DOCUMENT_TYPES=FC,ET,NC,CE,ND,DE
SUGUS_FACTURACION_URL=
SUGUS_MATCH_MODE=strict
