SUGUS_URL=https://sugus-uat-uy.randstad.com.uy/login.aspx
SUGUS_USER=acortazzo
SUGUS_PASS=
SUGUS_BROWSER=chrome
SUGUS_HEADLESS=false
SUGUS_WAIT_MS=900
SUGUS_CANDIDATES_MENU_PAUSE_MS=2000
SUGUS_CANDIDATES_AFTER_CLICK_PAUSE_MS=5000
SUGUS_CANDIDATES_PAGE_TIMEOUT_MS=120000
SUGUS_LIQUIDACIONES_AFTER_CLICK_PAUSE_MS=5000
SUGUS_LIQUIDACIONES_PAGE_TIMEOUT_MS=120000
SUGUS_MATCH_MODE=strict
